@{
    ViewData["Title"] = "Home Page";
}

<h1>Fun with Shapes!!</h1>

<hr />

<img src='@Url.Action("Circle")' alt="Our lovely circle" />
<img src='@Url.Action("Triangel")' alt="Our lovely triangle" />
<img src='@Url.Action("Square")' alt="Our lovely square" />